<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/Arbol de jade.jpg" class="d-block w-1" alt="d-block h-0">
            <p>Arbol de Jade</p>
        </div>
        <div class="carousel-item">
            <img src="img/Crasula de fuego.jpg" class="d-block w-1" alt="d-block h-30">
            <p>Crasula de fuego</p>
        </div>
        <div class="carousel-item">
            <img src="img/Dedo de dios.jpg" class="d-block w-1" alt="d-block h-30">
            <p>El dedo de maradonita</p>
        </div>
        <div class="carousel-item">
            <img src="img/Estrella de plata.jpg" class="d-block w-1" alt="d-block h-30">
            <p>Estrellita de plata</p>
        </div>
        <div class="carousel-item">
            <img src="img/Flor de navidad.jpg" class="d-block w-1" alt="d-block h-30">
            <p>Flor de navidad</p>
        </div>
        <div class="carousel-item">
        <img src="img/Orejas de gato.jpg" class="d-block w-1" alt="d-block h-30">
        <p>Orejas de gato</p>
        </div>
        <div class="carousel-item">
            <img src="img/Planta madreperla.jpg" class="d-block w-1" alt="d-block h-30">
            <p>Planta madreperla</p>
        </div>
        <div class="carousel-item">
            <img src="img/Rosa negra.jpg" class="d-block w-60" alt="d-block h-30">
            <p>Rosa negra</p>
        </div>
        <div class="carousel-item">
            <img src="img/Rosa.jpg" class="d-block w-60" alt="d-block h-30">
            <p>Rosa</p>
        </div>
    </div>
</div>
</div>