<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Arbol de jade"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Crasula de fuego"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Dedo de dios"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Estrella de plata"></button>
    </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="img/Arbol de jade.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column h-100 align-items-center 
                        justify-content-center button-0">
                        <h2 class="bg-dark bg-opacity-50 text-white p-2">Arbol de jade</h2>
                        <p><h4 class="text-white">Planta nativa de Mozambique, Sudafrica</h4></p>
                        <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4">Leer mas...</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="img/Crasula de fuego.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column h-100 align-items-center 
                        justify-content-center button-0">
                        <h2 class="bg-dark bg-opacity-50 text-white p-2">Crasula de fuego</h2>
                        <p><h4 class="text-white">Planta nativa de Sudafrica</h4></p>
                        <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4">Leer mas...</a>
                </div>
            </div>
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="img/Dedo de dios.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column h-100 align-items-center 
                        justify-content-center button-0">
                        <h2 class="bg-dark bg-opacity-50 text-white p-2">Dedo de dios</h2>
                        <p><h4 class="text-white">Planta nativa de Sierra de la Laguna, Baja California sur.</h4></p>
                        <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4">Leer mas...</a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="img/Estrella de plata.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-flex flex-column h-100 align-items-center 
                        justify-content-center button-0">
                        <h2 class="bg-dark bg-opacity-50 text-white p-2">Estrella de plata</h2>
                        <p><h4 class="text-white">Esta planta es un híbrido de las familias Gastropetalum y Echeveria.</h4></p>
                        <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4">Leer mas...</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
    </button>
</div>