<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos Suculentas</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="img/1_Arbol de jade.jpg" class="card-img-top" alt="Arbol de jade">
      <div class="card-body">
        <h5 class="card-title">Arbol de jade</h5>
        <p class="card-text">Originaria de Mozambique, Sudafrica.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/2_Crasula de fuego.jpg" class="card-img-top" alt="Crasula de fuego">
      <div class="card-body">
        <h5 class="card-title">Crasula de fuego</h5>
        <p class="card-text">Nativa de Sudafrica.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/3_Dedo de dios.jpg" class="card-img-top" alt="Dedo de dios">
      <div class="card-body">
        <h5 class="card-title">Dedo de dios</h5>
        <p class="card-text">Originaria de California baja sur.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/4_Estrella de plata.jpg" class="card-img-top" alt="Estrella de plata">
      <div class="card-body">
        <h5 class="card-title">Estrella de plata</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/5_Flor de navidad.jpg" class="card-img-top" alt="Flor de navidad">
      <div class="card-body">
        <h5 class="card-title">Flor de navidad</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/6_Orejas de gato.jpg" class="card-img-top" alt="Orejas de gato">
      <div class="card-body">
        <h5 class="card-title">Orejas de gato</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/7_Planta madreperla.jpg" class="card-img-top" alt="Planta madreperla">
      <div class="card-body">
        <h5 class="card-title">Planta madreperla</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/8_Rosa negra.jpg" class="card-img-top" alt="Rosa negra">
      <div class="card-body">
        <h5 class="card-title">Rosa negra</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/9_Rosa.jpg" class="card-img-top" alt="Rosa">
      <div class="card-body">
        <h5 class="card-title">Rosa</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  
</div>



</body>
</html>