<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
			<div class="card" style="width: 18rem;">
					<img src="img/1_Arbol de jade.jpg" class="card-img-top" alt="1_Arbol de jade">
				<div class="card-body">
					<h5 class="card-title-text-white-uppercase">Arbol de jade</h5>
					<p><h4 class="card-text-white">Planta originaria de Mozambique, Sudafrica.</h4></p>
					<a href="#" class="btn btn-primary">Crasula de fuego</a>
				</div>
			</div>
        </div>
        <div class="carousel-item">
			<div class="card" style="width: 18rem;">
					<img src="img/2_Crasula de fuego.jpg" class="card-img-top" alt="2_Crasula de fuego">
				<div class="card-body">
					<h5 class="card-title-text-white-uppercase">Crasula de fuego</h5>
					<p><h4 class="card-text-white">Planta nativa de Sudafrica.</h4></p>
					<a href="#" class="btn btn-primary">Dedo de dios</a>
				</div>
			</div>
        </div>
		<div class="carousel-item">
			<div class="card" style="width: 18rem;">
				<img src="img/3_Dedo de dios.jpg" class="card-img-top" alt="3_Dedo de dios">
			<div class="card-body">
				<h5 class="card-title-text-white-uppercase">Dedo de dios</h5>
				<p><h4 class= "card-text-white">Planta nativa de Baja California Sur.</h4></p>
				<a href="#" class="btn btn-primary">Estrella de plata</a>
			</div>
		</div>
    </div>
    <div class="carousel-item">
		<div class="card" style="width: 18rem;">
				<img src="img/4_Estrella de plata.jpg" class="card-img-top" alt="4_Estrella de plata">
			<div class="card-body">
				<h5 class="card-title-text-whitw-uppercase">Estrella de plata</h5>
				<p><h4 class= "card-text-white">Suculenta de la familia Graptoperia.</h4></p>
				<a href="#" class="btn btn-primary">Flor de navidad</a>
			</div>
		</div>
        </div>
        <div class="carousel-item">
		<div class="card" style="width: 18rem;">
				<img src="img/5_Flor de navidad.jpg" class="card-img-top" alt="5_Flor de navidad">
			<div class="card-body">
				<h5 class="card-title-text-white-uppercase">Flor de navidad</h5>
				<p><h4 class= "card-text-white">Suculenta llamada tambien Cactus de navidad</h4></p>
				<a href="#" class="btn btn-primary">Orejas de gato</a>
			</div>
		</div>
    </div>
	<div class="carousel-item">
		<div class="card" style="width: 18rem;">
				<img src="img/6_Orejas de gato.jpg" class="card-img-top" alt="6_Orejas de gato">
			<div class="card-body">
				<h5 class="card-title-text-white-uppercase">Orejas de gato</h5>
				<p><h4 class= "card-text-white">Suculenta llamada también Cactus de navidad.</h4></p>
				<a href="#" class="btn btn-primary">Planta madreperla</a>
			</div>
		</div>
    </div>
    <div class="carousel-item">
		<div class="card" style="width: 18rem;">
					<img src="img/7_Planta madreperla.jpg" class="card-img-top" alt="7_Planta Madreperla">
				<div class="card-body">
					<h5 class="card-title-text-white-uppercase">Orejas de gato</h5>
					<p><h4 class= "card-text-white">Suculenta también llamada planta fantasma es originaria de México.</h4></p>
					<a href="#" class="btn btn-primary">Rosa negra</a>
				</div>
			</div>
        </div>
        <div class="carousel-item">
			<div class="card" style="width: 18rem;">
				<img src="img/8_Rosa negra.jpg" class="card-img-top" alt="8_Rosa negra">
				<h5 class="card-title-text-white-uppercase">Rosa negra/h5>
				<p><h4 class= "card-text-white">Suculenta</h4></p>
				<a href="#" class="btn btn-primary">Rosa</a>
			</div>
		</div>
    </div>
	<div class="carousel-item">
        <div class="card" style="width: 18rem;">
				<img src="img/Rosa.jpg" class="card-img-top" alt="9_Rosa">
				<h5 class="card-title-text-white-uppercase">Rosa</h5>
                <p><h4 class= "card-text-white">Suculenta</h4></p>
				<a href="#" class="btn btn-primary">Arbol de jade</a>
			</div>
		</div>            
    </div>
</div>
</div><span class="visually-hidden">Next</span>
	</button>
</div>
