<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos Suculentas</title>
<link rel="stylesheet" type="text/css"
        href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href=
"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>





<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
			<div class="mx-auto" style="width: 200px;">
				<div class="card" style="width: 18rem;">
						<img src="img/1_Arbol de jade.jpg" class="card-img-top" alt="1_Arbol de jade">
					<div class="card-body">
						<h5 class="card-title">Arbol de jade</h5>
						<p><h6 class="card-text-white">Planta originaria de Mozambique, Sudafrica.</h6></p>
						<a href="#" class="btn btn-primary">Crasula de fuego</a>
					</div>
			</div>
        </div>
        <div class="carousel-item">
			<div class="mx-auto" style="width: 200px;">
				<div class="card" style="width: 18rem;">
						<img src="img/2_Crasula de fuego.jpg" class="card-img-top" alt="2_Crasula de fuego">
					<div class="card-body">
					<h5 class="card-title">Crasula de fuego</h5>
					<p><h6 class="card-text">Planta nativa de Sudafrica.</h6></p>
					<a href="#" class="btn btn-primary">Dedo de dios</a>
					</div>
				</div>
			</div>
        </div>
		<div class="carousel-item">
			<div class="mx-auto" style="width: 200px;">
				<div class="card" style="width: 18rem;">
						<img src="img/3_Dedo de dios.jpg" class="card-img-top" alt="3_Dedo de dios">
					<div class="card-body">
					<h5 class="card-title-text">Dedo de dios</h5>
					<p><h6 class= "card-text">Planta nativa de Baja California Sur.</h6></p>
					<a href="#" class="btn btn-primary">Estrella de plata</a>
					</div>
				</div>
			</div>
		</div>
    <div class="carousel-item">
		<div class="mx-auto" style="width: 200px;">
			<div class="card" style="width: 18rem;">
					<img src="img/4_Estrella de plata.jpg" class="card-img-top" alt="4_Estrella de plata">
				<div class="card-body">
					<h5 class="card-title">Estrella de plata</h5>
					<p><h6 class= "card-text-white">Suculenta de la familia Graptoperia.</h6></p>
					<a href="#" class="btn btn-primary">Flor de navidad</a>
				</div>
			</div>
		</div>
    </div>
    <div class="carousel-item">
		<div class="mx-auto" style="width: 200px;">
			<div class="card" style="width: 18rem;">
					<img src="img/5_Flor de navidad.jpg" class="card-img-top" alt="5_Flor de navidad">
				<div class="card-body">
					<h5 class="card-title">Flor de navidad</h5>
					<p><h6 class= "card-text">Suculenta llamada tambien Cactus de navidad</h6></p>
					<a href="#" class="btn btn-primary">Orejas de gato</a>
				</div>
			</div>
		</div>
    </div>
	<div class="carousel-item">
		<div class="mx-auto" style="width: 200px;">
			<div class="card" style="width: 18rem;">
					<img src="img/6_Orejas de gato.jpg" class="card-img-top" alt="6_Orejas de gato">
				<div class="card-body">
					<h5 class="card-title">Orejas de gato</h5>
					<p><h6 class= "card-text">Suculenta de la especie Kalanchoe tomentosa es originaria de Madagascar.</h6></p>
					<a href="#" class="btn btn-primary">Planta madreperla</a>
				</div>
			</div>
		</div>
    </div>
    <div class="carousel-item">
		<div class="mx-auto" style="width: 200px;">
			<div class="card" style="width: 18rem;">
					<img src="img/7_Planta madreperla.jpg" class="card-img-top" alt="7_Planta Madreperla">
				<div class="card-body">
					<h5 class="card-title-text">Planta madreperla</h5>
					<p><h6 class= "card-text">Suculenta también llamada planta fantasma es originaria de México.</h4></p>
					<a href="#" class="btn btn-primary">Rosa negra</a>
				</div>
			</div>
		</div>
    </div>
    <div class="carousel-item">
		<div class="mx-auto" style="width: 200px;">
			<div class="card" style="width: 18rem;">
					<img src="img/8_Rosa negra.jpg" class="card-img-top" alt="8_Rosa negra">
				<div class="card-body">
					<h5 class="card-title">Rosa negra</h5>
					<p><h6 class= "card-text">Suculenta originaria de Islas Canarias</h6></p>
					<a href="#" class="btn btn-primary">Rosa de alabastro</a>
				</div>
			</div>
		</div>
	</div>
	<div class="carousel-item">
		<div class="mx-auto" style="width: 200px;">	
			<div class="card" style="width: 18rem;">
					<img src="img/9_Rosa.jpg" class="card-img-top" alt="9_Rosa">
				<div class="card-body">
					<h5 class="card-title">Rosa de alabastro</h5>
					<p><h6 class= "card-text">Suculenta llamada tambien Echeveria elegans, originaria de México</h6></p>
					<a href="#" class="btn btn-primary">Arbol de jade</a>
				</div>
			</div>
		</div>            
	</div>
</div>
</div>
<span class="visually-hidden">Next</span>
	</button>
</div>
</body>
</html>