<div class="container">
    <div class="row mt-5 text-center">
        <div class="col-12 m-1">
            <div class="card">
                <h5 class="card-header">Quienes Somos</h5>
                <div class="card-body">
                    <p class="card-text">Somos un emprendimiento naciente cuyo proposito es fomentar cultivos urbanos que aboguen por cultivo de plantas para sentir  una ciudad mas amable. Mauris tempus libero tempor leo sagittis, quis efficitur augue convallis. Nulla fringilla lectus a imperdiet ornare. 
                    Nullam in tempor tellus.</p>
                </div>
        <div class="col-12 m-2">
            <div class="card">
                <h5 class="card-header">Mision</h5>
                <div class="card-body">
                    <p class="card-text">Nos proponemos fomentar el cuidado de la naturaleza y la conciencia social de participar de iniciativas que promuevan huertas urbanas en Bogota.
                        Mauris tempus libero tempor leo sagittis, quis efficitur augue convallis. Nulla fringilla lectus a imperdiet ornare. 
                        Nullam in tempor tellus.</p>
                </div>
            </div>
        </div>
        <div class="col-12 m-2">
            <div class="card">
                <h5 class="card-header">Vision</h5>
                <div class="card-body">
                    <p class="card-text">Nuestro objetivo es ampliar el conocimiento sobre 
                        las diferentes especies de plantas que podemos cultivar en la ciudad 
                        ayudando al ornato y embellecimiento de la misma. </p>
                </div>
            </div>
        </div>
        <div class="col-12 m-1">
            <div class="card">
                <h5 class="card-header">Nuestra Historia</h5>
                <div class="card-body">
                    <p class="card-text">Nuestra historia se origina en un taller sobre huertas urbanas 
                        dictado por la facultad de Agronomía de la Universidad Nacional de Colombia
                        </p>
                </div>
            </div>
        </div>
        
    </div>
</div>